body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    width: 100%;
}

a {
    color: #0F3460;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

a:hover {
    color: #C3B091;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', sans-serif;
    font-size: 5.625rem;
    color: #1C6758;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #256D85;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #256D85;
}

hr {
    border: dotted #C4D7E0 6px;
    border-bottom: none;
    margin-top: 50px;
    margin-bottom: 0;
    width: 15%;
}

.mountain-img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

.footer-link {
    margin: 10px 20px
}

.h3-programming {
    padding-top: 50px;
}

.h3-hs {
    padding-top: 100px;
}

.top-container {
    position: relative;
    padding-top: 100px;
    background-color: #CEE5D0;
}

.programmer-text {
    color: #1C6758;
}

.intro {
    line-height: 2;
    width: 40%;
    margin: auto;
}

.profile {
    margin: 100px auto 100px auto ;
}

.contact-message {
    width: 35%;
    margin: 40px auto 60px;
}

.copyright {
    font-size: 0.75rem;
    padding: 20px 0;
}

.top-cloud {
    display: block;
    margin: auto 300px auto auto;
}

.bottom-cloud {
    display: block;
    margin: auto auto auto 300px;
}

.bottom-container {
    
    padding: 50px 0 20px;
    background-color: #F3F0D7;
    margin-top: 100px;
    width: 100%;
}

.h2-skills {
    margin-top: 50px;
}

.skill-row1 {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.skill-row2 {
    width: 50%;
    margin: 200px auto 200px auto;
    text-align: left;
    line-height: 2;

}

.skill1-img {
    width: 25%;
    float: left;
    margin-right: 30px;
    
}

.skill2-img {
    width: 25%;
    float: right;
    margin-right: 150px;    
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }